/**
*
*@arthurrls
*
*/

body, html{
    font-family: Helvetica;
}

h2{
    color: black;
    font-size: 1.5em;
    text-align: justify;
    width: 600px;
    font-weight: 700;
}

h3{
    color: black;
    font-size: 1.2em;
    text-align: justify;
    padding-top: 90px;
    width: 300px;
    font-weight: 700;
    letter-spacing: 1px;
}

h5{
    font-weight: 700;
    font-size: 0.9em;
}

p{
    color: rgb(59, 59, 59);
    margin-top: 20px;
    font-size: 1em;
    text-align: justify;
    width: 600px;
    font-weight: 700;
}

/* barra de navegação
--------------------------*/
nav{
    border-bottom: 1px solid black;
}


.navbar-nav .nav-link{
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.navbar-color{
    background-color: white;
}

/* home
--------------------------*/
.links{
    margin: 30px 0;
    padding-left: 120px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.links a{
    color: black;
    font-size: 0.8em;
}

.links a:hover{
    color: #9bf0e1;
    text-decoration: none;
}

.links .active{
    color: #ff764d;
}

.texto-titulo{
    margin-top: 90px;
    display: flexbox;
}

.fundo-amarelo{
    background-color: #FBFFA8;
    padding: 300px 0;
    padding-left: 800px;
}

.fundo-branco{
    background-color: white;
}

.img-fluid-custom {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.fundo-verde{
    background-color: #B7FEC0;
    padding: 90px 200px 90px 50px;
}

.fundo-roxo{
    background-color: #D6B3FE;
    position: absolute;
    left: 170px;
    top: -150px;
    width: 800px;
    height: 600px;
    z-index: -1;
}

.fundo-azul{
    background-color: #B1C6FE;
    width: 100px;
    height: 400px;
}

.mensager a{
    font-weight: 700;
    padding-top: 50px;
    font-size: 1.4em;
}

footer{
    height: 400px;
    position: relative;
    margin: 200px 0;
}

footer ul{
    list-style: none;
}

footer h1{
    margin: 50px 0;
}

footer .navbar-nav a{
    font-size: 0.8em;
    color: black;
}

footer p{
    font-size: 0.8em;
    color: black;
    margin: 0;
}


